<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="TestLocation" value="C:\Users\Aji\Desktop"/>
      <add key="ScriptName" value="Test"/>
      <add key ="BoundX" value="0"/>
      <add key ="BoundY" value="0"/>
      <add key ="BoundW" value="1366"/>
      <add key ="BoundH" value="768"/>
      <add key ="Debug" value="false"/>
    </appSettings>
</configuration>